# Data Science Tools and Ecosystem #

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List popular languages for Data Science
* Juyter Project
* Libraries and APIs
* Overview of Data Science tools

### Some of the commonly used libraries used by Data Scientists include:

#### 1.Matplotlib
#### 2.Ggplot
#### 3.Numpy
#### 4.Plotly

|Data Science Tools|
|-----|
|Jupyter Notebook|
|R environment|
|SQL|

### Below are a few examples of evaluating arithmetic expressions in Python
Expression with functions

Expression with variable

Arithmetic expression like multiplication,addition and more

#### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60.

In [3]:
200/60

3.3333333333333335

## Author
Aminat Yisa